// color variables
$main_color: #777;
$headline-primary-color: #58e1c1;
$link-colr: #51ddfc;
$error-background-color: #e4757a;
$info-background-color: #927bc1;
$success-background-color: #63cc82;
$warning-background-color: #fd7856;

// media query variables
$medium-screen: 768px;
