// color variables
$main_color: #777;
$headline-primary-color: #58e1c1;
$headline-secondary-color: #777;
$link-colr: #51ddfc;
$nav-link-hover-background-color: #58e1c1;

// media query variables
$small-screen: 768px;
