@import '../utilities/variables';

.btn {
    margin-top: 15px;
    width: 100%;
    color: $main_color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 1s;
    @media (min-width: $medium-screen) {
      padding: 10px 30px;
    }
    &:hover {
      background-color: lighten($color: $link-colr, $amount: 15%);
    }
  }
  
  .default {
    background-color: $link-colr;
  }
  
  .error {
    background-color: $error-background-color;
  }
  
  .info {
    background-color: $info-background-color;
  }
  
  .success {
    background-color: $success-background-color;
  }
  
  .warning {
    background-color: $warning-background-color;
  }
  