@import '../utilities/variables';

.btn {
    margin-top: 15px;
    width: 100%;
    color: $main_color;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
    transition-property: background-color;
    transition-duration: 1s;
    @media (min-width: $medium-screen) {
      padding: 10px 30px;
    }
    &:hover {
      background-color: lighten($color: #51ddfc, $amount: 15%);
    }
  }
  
  .default {
    background-color: #51ddfc;
  }
  
  .error {
    background-color: #e4757a;
  }
  
  .info {
    background-color: #927bc1;
  }
  
  .success {
    background-color: #63cc82;
  }
  
  .warning {
    background-color: #fd7856;
  }
  