@import '../utilities/variables';

$main-font: 'Lato', sans-serif;
$secondary-font-weight: 300;
$primary-font-weight: 700;
$font-size: 1.5em;
$para-line-height: 1.45em;

* {
  font-family: $main-font;
  color: $main_color;
  box-sizing: border-box;
}

p {
  line-height: $para-line-height;
}

a {
  text-decoration: none;
}

.headline-primary {
  color: $headline-primary-color;
  margin-left: 10px;
}

.headline-secondary {
  font-weight: $secondary-font-weight;
  color: $main_color;
}

.link {
  color: #51ddfc;
  font-weight: $primary-font-weight;
}

.blockquote {
  font-size: 1.5em;
  font-weight: $secondary-font-weight;
  font-style: italic;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 8px solid $headline-primary-color;
  border-radius: 5px;
}